<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iRest健康云</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>艾健康</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>应用程序需要您的许可才能使用蓝牙以连接您的设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>应用程序需要您的许可才能使用蓝牙以连接您的设备</string>
	<key>NSCameraUsageDescription</key>
	<string>应用程序需要您的许可才能使用相机扫描二维码以连接您的设备</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要知道您所在的位置以获得不同的客户服务</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>WantsToGetWiFiSSID</key>
		<string>您的精确位置将用于获取当前的Wi-Fi SSID以配置您的设备使用网络服务</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要知道您所在的位置以获得不同的客户服务</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要这个来启用语音接口。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>应用程序需要您的许可才能访问您个人资料的 PhotoLibrary 并与朋友和支持人员协作。</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
