<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.shifen.things">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 使用存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Html5Plus runtime基础权限   end -->

    <!-- Audio begin -->
    <!-- 访问录音设备 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 修改播放声音通道 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Audio end -->

    <!-- Camera  begin -->
    <!-- 调用摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- Camera  end -->

    <!-- Contacts  begin -->
    <!-- 访问联系人 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Contacts  end -->

    <!-- Device begin -->
    <!-- 屏幕保持唤醒 不锁屏  plus.device.setWakelock();plus.device.isWakelock(); -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动 权限 plus.device.vibrate(); -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 拨打电话 plus.device.dail(); -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问网络状态 plus.networkinfo.* -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写手机状态和身份 plus.devices.* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Device end -->
</manifest>
